@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}

#root {
  background: #f0f0f0;
}

.jumbotron {
  background: url("./assets/img/hero.png"), #f0f0f0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.menu-button {
  border-radius: 50%;
}

.phone-card {
  width: 20rem;
  height: 37rem;
  background-color: black;
  border-radius: 25px;
}

.phone-footer {
  text-align: center;
}

.dropdown-toggle::after {
  display: none;
}

.side-button {
  width: 200px;
}

.video-container {
  /* background-image: url("./assets/img/1.png");
  background-repeat: no-repeat;
  background-position: initial; */
  /* height: 600px;
  background-color: white; */
  margin-top: 200px;
}

.illustration {
  width: 100%;
  height: auto;
}

.illustration-container {
  height: 600px;
  width: 300px;
}

.heading {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  color: #fefefe;
  font-size: 25px;
}

.nav-link:hover {
  color: #161712;
}

.information-container {
  margin-top: 350px;
}

.map-illustration {
  height: 500px;
  width: auto;
}

@media screen and (min-width: 992px) {
  .info-text {
    font-family: "Poppins", sans-serif;
    color: #2db548;
    font-size: 3vw;
    font-weight: 600;
  }

  .info-text-secondary {
    font-family: "Poppins", sans-serif;
    color: #ebaa17;
    font-size: 3vw;
    font-weight: 600;
  }
}

@media screen and (max-width: 992px) {
  .info-text {
    font-family: "Montserrat", sans-serif;
    color: #2db548;
    font-size: 7vw;
    text-align: center;
  }

  .info-text-secondary {
    font-family: "Montserrat", sans-serif;
    color: #ebaa17;
    font-size: 7vw;
    text-align: center;
  }
}

.anim-container-right {
  border-style: solid;
  border-color: #ebaa17;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 5px;
}

.anim-container-left {
  border-style: solid;
  border-color: #2db548;
  border-radius: 50px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}

.tag-line {
  font-size: 3vw;
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  padding-left: 60px;
}
